body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0; }

img {
  max-width: 100%; }
  img .movimiento {
    transition: all 0.5s ease; }
  img .movimiento:hover {
    margin-top: -10px; }

ul {
  list-style: none; }

nav {
  padding: 13px; }
  nav .dropdown {
    display: none; }
  nav ul li a {
    color: #707070;
    text-decoration: none;
    transition: all 0.5s ease;
    padding: 20px 5px; }
  nav ul li a:hover {
    background: #bf986d;
    color: white; }

header {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 13px;
  position: fixed;
  width: 100%;
  background: white; }
  header img {
    display: inline-block;
    max-height: 60px;
    vertical-align: middle; }
  header nav ul {
    display: flex;
    margin-bottom: 0; }
    header nav ul li {
      padding: 0px 10px; }

section.post {
  padding: 40px 152px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-content: center; }
  section.post .doscolumnas {
    padding: 15px; }
  section.post #curriculum {
    padding: 120px 200px 0px; }

input {
  height: 40px;
  transition: all 0.5s ease; }

input:focus {
  font-size: 24px; }

a.subheader__boton img, .sobreMi__boton img, .recetas__boton img {
  transition: all 0.5s ease; }

a.subheader__boton img:hover, .sobreMi__boton img:hover, .recetas__boton img:hover {
  margin-top: -10px; }

label {
  margin-bottom: 0px;
  margin-top: 10px; }

form {
  text-align: left; }

button.btn.btn-primary.dropdown-toggle {
  background-color: #c09b6e;
  border-color: #c09b6e; }

h1 {
  font-family: "Dancing Script";
  font-size: 70px;
  line-height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 0px 20px black; }

h2 {
  font-family: inherit;
  font-size: 70px;
  line-height: 80px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 0px 20px black; }

h3 {
  font-family: "Dancing Script";
  font-size: 60px;
  line-height: 70px;
  margin-top: 20px;
  margin-bottom: 20px; }

h4 {
  font-family: inherit;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 5px; }

.titulo2 {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 500; }

.sabiasQue__texto, .texto, .sobreMi__texto, .recetas__texto {
  color: #707070;
  font-size: 20px; }

.contactoFooter img {
  max-width: 20px;
  margin-right: 5px;
  vertical-align: middle; }

.center {
  text-align: center; }

.campoForm .form-group .checkcont {
  display: flex;
  align-items: center; }

.FlexBoxInfo {
  display: flex; }

.gridItem {
  padding: 19px 18px; }

.gridBlog {
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center; }

.checkcont label {
  margin-top: 0px;
  margin-left: 10px; }

.checkcont input[type="checkbox"] {
  width: auto;
  height: auto; }

.dropdown-menu.show {
  transform: translate3d(-72px, 38px, 0px) !important;
  padding: 5px; }
  .dropdown-menu.show a {
    color: #333; }

.subheader, .subheader--recetas, .subheader--home, .subheader--blog, .subheader--sobreMi, .subheader--sabiasQue {
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
  background-position: bottom; }

.subheader--recetas {
  Background-image: url("../img/subheader-recetas.jpg"); }

.subheader--home {
  Background-image: url("../img/subheader-home.jpg"); }

.subheader--blog {
  Background-image: url("../img/subheader-blog.jpg"); }

.subheader--sobreMi {
  Background-image: url("../img/subheader-sobreMi.jpg"); }

.subheader--sabiasQue {
  Background-image: url("../img/subheader-sabiasQue.jpg"); }

/*
.home{
    #subheader{
        color: #ffffff;
        background-image: url(../img/header_naranjas.jpg);
        text-align: center;
        padding: 200px 0;
        background-position: bottom;
    }
}
.blog{
    #subheader{
        color: #ffffff;
        background-image: url(../img/header_hinojo.jpg);
        text-align: center;
        padding: 200px 0;
        background-position: bottom;
    }
}
.recetas{
    #subheader{
        color: #ffffff;
        background-image: url(../img/header_plato.jpg);
        text-align: center;
        padding: 200px 0;
        background-position: bottom;
    }
}
*/
#sobreMi {
  background-image: url(../img/fondo_sobre_mi.jpg);
  padding: 30px 0; }
  #sobreMi .col-md-6 {
    justify-content: center;
    display: flex;
    flex-direction: column; }

#blog .row .col-md-6 .row {
  transition: all 0.5s ease;
  margin-bottom: 15px; }
  #blog .row .col-md-6 .row p {
    margin-bottom: 0px; }

#blog .row .col-md-6 .row:hover {
  margin-top: -5px; }

#recetas {
  background-image: url(../img/recetas_plato.jpg);
  text-align: left;
  padding: 200px;
  background-position: bottom; }

#formulario {
  text-align: center;
  padding: 40px 0px; }
  #formulario label {
    display: block; }

#footer {
  color: #ffffff;
  background-image: url(../img/footer.jpg);
  text-align: center;
  padding: 100px 0;
  background-position: bottom; }
  #footer .Interno {
    background-image: url(../img/footer.jpg); }
  #footer .tresColumnas {
    padding: 0 4%;
    text-align: left;
    width: 24.33%; }
  #footer ul {
    padding: 0px; }
  #footer li a {
    color: white;
    text-decoration: none; }

@media (max-width: 768px) {
  h2 {
    font-size: 44px; }
  h1 {
    font-size: 65px; }
  a.botonHeader img {
    width: 200px; }
  .sabiasQue_texto, .texto, .sobreMi__texto, .recetas__texto {
    text-align: center; }
  #recetas {
    padding: 0px; }
  #recetas .col-md-12, section#sobreMi, section#blog {
    text-align: center; }
  header nav ul {
    display: none; }
  nav .dropdown {
    display: block; }
  section#sobreMi {
    background-size: cover;
    background-position: top; } }
